# Android Studio
.idea/
*.iml
.cxx/

# Gradle
.gradle/
**/build/
build/
local.properties
gradle.properties
*.lock

# Outputs
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp

# Database
*.db
*.sqlite

# macOS / Windows
.DS_Store
Thumbs.db

# Output from testing or tools
captures/
output.json

# Jetpack Compose previews cache (opcional)
.idea/previews/
